<section id="inicio">
    <div class="section-container hero-main-content">
        <div class="hero-layout">
            <div class="hero-text fade-in-element">
                <h1 data-key="perfil.titulo">{{ perfil.titulo.es }} <span>👋</span></h1>
                <h2 data-key="perfil.nombre">{{ perfil.nombre.es }}</h2>
                <p data-key="perfil.subtitulo">{{ perfil.subtitulo.es }}</p>
                <a href="{{ url_for('static', filename='pdf/CV_Santiago_Pinedo.pdf') }}" class="btn-primary" download data-key="ui_text.hero.download_cv">{{ ui_text.hero.download_cv.es }}</a>
            </div>
            <div class="hero-image fade-in-element">
                <img src="{{ url_for('static', filename=perfil.imagen_perfil) }}" alt="Avatar de Santiago Pinedo" class="profile-pic">
            </div>
        </div>

        <div class="skills-belt-container" aria-hidden="true">
            <div class="skills-scroller">
                <div class="skills-track skills-track--left">
                    <ul class="skills-list">
                        {% for habilidad in habilidades %}
                            <li><img src="{{ url_for('static', filename=habilidad.icono) }}" alt="{{ habilidad.nombre }}"></li>
                        {% endfor %}
                    </ul>
                    <ul class="skills-list">
                        {% for habilidad in habilidades %}
                            <li><img src="{{ url_for('static', filename=habilidad.icono) }}" alt="{{ habilidad.nombre }}"></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="skills-track skills-track--right">
                    <ul class="skills-list">
                        {% for habilidad in habilidades|reverse %}
                            <li><img src="{{ url_for('static', filename=habilidad.icono) }}" alt="{{ habilidad.nombre }}"></li>
                        {% endfor %}
                    </ul>
                    <ul class="skills-list">
                        {% for habilidad in habilidades|reverse %}
                            <li><img src="{{ url_for('static', filename=habilidad.icono) }}" alt="{{ habilidad.nombre }}"></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>